@use './utilities/colors' as c;
@use './utilities/components' as comp;
@use './utilities/mixins' as mix;
@use './utilities/animations' as anime;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	color: c.$main-color;
	background-color: c.$main-section-color;
}

//BURGER

.burger-btn {
	position: fixed;
	top: 10px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 10;
	.burger-btn-box {
		position: relative;
		width: 40px;
		height: 30px;
		.burger-btn-bars,
		.burger-btn-bars::after,
		.burger-btn-bars::before {
			position: absolute;
			right: 0;
			height: 3px;
			content: '';
			background-color: c.$burger-color;
			transition: width 0.3s, background-color 0.3s;
		}
		.burger-btn-bars {
			width: 100%;
		}
		.burger-btn-bars::after {
			top: 13px;
			width: 60%;
		}
		.burger-btn-bars::before {
			top: 27px;
			width: 30%;
		}
	}
}
.burger-btn:focus {
	outline: none;
	border: 1px solid c.$burger-color;
	border-radius: 8px;
}

.burger-btn:hover {
	.burger-btn-bars:after,
	.burger-btn-bars:before {
		width: 100%;
	}
	.burger-btn-bars,
	.burger-btn-bars:after,
	.burger-btn-bars:before {
		background-color: c.$accent-color;
	}
}

//NAV
.nav {
	position: fixed;
	display: flex;
	width: 100%;
	height: 80px;
	background-color: c.$nav-color;
	z-index: 10;
	.navbar {
		display: flex;
		width: 100%;
		height: 100%;
		.logo-section {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			height: 100%;
			.logo {
				font-family: 'Teko', sans-serif;
				padding-left: 2rem;
				font-size: 5rem;
				font-weight: 500;
				color: c.$logo-color;
				text-decoration: none;
			}
		}
		.nav-links {
			display: none;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			height: 100%;
			.nav-link {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 120px;
				padding: 15px;
				font-size: 2.2rem;
				font-weight: 400;
				text-decoration: none;
				color: c.$main-color;
				cursor: pointer;
				transition: color 0.2s;
			}
			.nav-link:hover {
				color: c.$accent-color;
			}
		}
	}
	.nav-links-container-mobile {
		position: relative;
		width: 50%;
		height: 100vh;
		background-color: hsla(0, 0%, 0%, 0.84);
		padding-bottom: 3em;
		transform: translateX(200%);
		transition: transform 0.3s;
		z-index: 9;
		.nav-links-mobile {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100%;
			transform: translateY(-40px);
			.nav-link-mobile {
				padding: 20px 25px;
				font-size: 1.5em;
				text-decoration: none;
				color: c.$nav-color;
				cursor: pointer;
				transition: color 0.2s;
				width: 100%;
			}
			.nav-link-mobile:hover {
				color: c.$accent-color;
			}
		}
	}
	.show-nav {
		transform: translateX(100%);
	}
}

//HEROIMG
.hero-img-container {
	position: relative;
	height: 100vh;
	width: 100%;
	.hero-img {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url('../../dist/img/fittings_desktop.min.jpg');
		background-position: center;
		background-size: cover;
		z-index: 1;
	}
	.hero-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: hsla(0, 0%, 0%, 0.45);
		z-index: 2;
	}
	.wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		.hero-text-container {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90%;
			padding: 7rem 4rem;
			border-radius: 10px;
			bottom: 20%;
			transform: translateX(-50%);
			background-color: hsla(0, 0%, 0%, 0.5);
			left: 50%;
			color: c.$secondary-color;
			z-index: 3;

			h1 {
				font-size: clamp(1.5625rem, 0.3643rem + 7.6687vw, 3.125rem);
				text-align: center;
				word-break: keep-all;
			}
			.hero-text {
				line-height: 3.5rem;
				font-size: clamp(1.375rem, 0.1477rem + 6.5455vw, 2.5rem);
				font-weight: 300;
				padding-top: 1.5rem;
			}
		}
		.hero-icon-container {
			display: block;
			position: absolute;
			left: 50%;
			bottom: 50px;
			width: 50px;
			border-radius: 50%;
			filter: invert(1);
			z-index: 4;
			transform: translateX(-50%);
		}
	}
}

.offers {
	width: 100%;
	margin-bottom: 20px;
	.offer-cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		.offer-card {
			position: relative;
			display: flex;
			align-items: center;
			width: 90%;
			min-height: 500px;
			margin-bottom: 2rem;
			border-radius: 10px;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			z-index: 0;
			.offer-card-text-container {
				width: 70%;
				top: 50%;
				z-index: 1;

				.offer-card-text {
					font-size: clamp(1.0625rem, -1.0156rem + 11.875vw, 3.4375rem);
					font-weight: 300;
					padding: 3rem 2rem;
					line-height: 1.4em;
					z-index: 3;
					color: c.$secondary-color;
					cursor: default;
				}
			}
			.offer-card-shadow {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: hsla(0, 0%, 0%, 0.65);
				z-index: -1;
			}
		}

		.offer-card-first {
			background-image: url('../../dist/img/air-conditioner-4204637_640.min.jpg');
		}

		.offer-card-second {
			background-image: url('../../dist/img/electric-4198293_640.min.jpg');
		}

		.offer-card-third {
			background-image: url('../../dist/img/consulting-3031678_640.min.jpg');
		}
	}
}

.aboutus {
	background-color: c.$secondary-section-color;
	padding-bottom: 50px;
	.aboutus-text {
		width: 90%;
		margin: 0 auto;
		p {
			font-size: clamp(1.5625rem, 1.4196rem + 0.9143vw, 2.5625rem);
			line-height: 3.2rem;
			font-weight: 300;
			a {
				position: relative;
				text-decoration: none;
				color: #000;
				font-weight: 500;
			}
			a,
			a::before,
			a::after {
				transition: transform 0.3s;
			}
			a::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: c.$link-color;
				transform: scaleX(0);
				transform-origin: right;
			}

			a:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}

.contact {
	position: relative;
	.contact-elements-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.contact-element {
			min-width: 200px;
			flex: 1;
			text-align: center;
			margin: 0 15px 20px;

			.icon {
				width: 50px;
				height: 50px;
				margin: 10px 0;
			}
			.contact-text {
				font-size: clamp(1.5625rem, 1.4018rem + 1.0286vw, 2.6875rem);
			}
			.contact-data {
				position: relative;
				margin: 10px 0;
				font-size: clamp(1.5625rem, 1.4018rem + 1.0286vw, 2.6875rem);
				font-weight: 500;
				color: c.$main-color;
				text-decoration: none;
			}
			.contact-data,
			.contact-data::after,
			.contact-data::before {
				transition: transform 0.3s;
			}

			.contact-data::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: c.$link-color;
				transform: scaleX(0);
				transform-origin: right;
			}

			.contact-data:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}

.drive {
	.drive-map {
		height: 50vh;
		padding: 0 2rem;
	}
}

//FORM

.forms {
	position: relative;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.form-container {
		position: relative;
		display: flex;
		justify-content: center;
		border-radius: 4px;
		background-color: c.$form-color;
		width: 95%;
		.form {
			padding: 30px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		input,
		textarea {
			padding: 1em;
			margin: 1em 0;
			border: none;
			border-radius: 4px;
			font-family: 'Roboto', sans-serif;
			font-size: 1.5rem;
			background-color: c.$form-input-color;
			color: c.$main-color;
			width: 90%;
		}

		textarea {
			min-height: 150px;
			resize: vertical;
		}
		.btn-submit {
			position: relative;
			padding: 10px 50px;
			background: none;
			margin: 10px 0;
			border: 1px solid c.$main-color;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 1.5rem;
			background-color: c.$form-input-color;
			border-radius: 4px;
			cursor: pointer;
			z-index: 1;
			overflow: hidden;
		}
		.btn-submit::before,
		.btn-submit::after {
			display: block;
			position: absolute;
			content: '';
			transition: transform 0.5s, left 0.5s;
			z-index: -1;
		}
		.btn-submit::before {
			top: -50%;
			left: -60%;
			height: 200%;
			width: 50%;
			background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0));
			transform: rotate(20deg);
		}
		.btn-submit:hover::before {
			left: 100%;
		}
	}
}

.footer {
	position: relative;
	text-align: center;
	.footer-bottom-text {
		padding: 2rem 0;
		font-size: 1.5rem;
	}
}

@import './small';
@import './medium';
@import './large';
@import './xlarge';
