$main-color:hsl(0, 0%, 0%);
$secondary-color: hsl(0, 0%, 100%);
$accent-color: hsl(229, 87%, 47%);

$main-section-color: hsl(0, 0%, 89%);
$secondary-section-color: hsl(0, 0%, 85%);

$logo-color:hsl(0, 0%, 0%);
$nav-color: hsl(0, 0%, 95%);
$burger-color:hsl(0, 0%, 10%);
$form-color: hsl(0, 0%, 95%);
$form-input-color:hsl(0, 0%, 87%);
$link-color: hsl(0, 0%, 0%);