$main-color:hsl(0, 0%, 0%);
$secondary-color: hsl(0, 0%, 100%);
$accent-color: hsl(223, 79%, 49%);
$logo-color:hsl(0, 0%, 0%);
$main-section-color: hsl(0, 0%, 89%);
$secondary-section-color: hsl(0, 0%, 79%);
$nav-color: hsl(0, 0%, 95%);
$burger-color:hsl(0, 0%, 10%);