@media (min-width: 576px) {
    .nav {
		.wrapper {
			.navbar {
				.nav-links {
					display: flex;
				}
			}
			.nav-links-container-mobile {
				display: none;
			}
		}
	}
	.burger-btn {
		display: none;
	}
	
}