@media (min-width: 576px) {
	.nav {
		.wrapper {
			.navbar {
				.nav-links {
					display: flex;
				}
			}
			.nav-links-container-mobile {
				display: none;
			}
		}
	}
	.burger-btn {
		display: none;
	}
	main {
		.hero-img-container {
			.wrapper {
				.hero-text-container {
					h1 {
						width: 100%;
						font-size: clamp(3.125rem, 2.7272rem + 1.105vw, 3.625rem);
					}
					.hero-text {
						text-align: center;
						font-size: clamp(2.3125rem, 1.7655rem + 1.5193vw, 3rem);
					}
				}
			}
		}

		.offers {
			.offer-cards {
				.offer-card {
					max-width: 500px;
				}
		
			}
		}

		.contact {
			.contact-elements-container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				.contact-element {
					text-align: center;
					margin-bottom: 20px;
					.icon {
						width: 50px;
						height: 50px;
						margin: 10px 0;
					}
					.contact-text {
					}
					.contact-data {
						margin: 10px 0;
						font-weight: 500;
					}
				}
			}
		}
	}
}
