@media (min-width: 1200px) {
	.hero-img .hero-text .firm-name {
		font-size: 1.7em;
	}
	.hero-img .hero-text h1 {
		font-size: 2.8em;
	}
	.aboutus h2 {
		font-size: 45px;
	}
	.aboutus .text-box h3 {
		font-size: 2em;
	}
	.aboutus .text-box .text-aboutus {
		font-size: 1.2em;
		line-height: 1.7em;
	}
}